/* 主要樣式保持不變 */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7; /* 設置透明度，使背景更柔和 */
    z-index: -1; /* 確保背景在所有內容後方 */
}
.center-content {
    background-color: transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

/* 模態框樣式 */
.modal {
    display: none; /* 默認隱藏 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    width: auto;
    max-width: 500px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* 添加陰影使其更加顯眼 */
}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

/* 圖片區域樣式 */
.game-images {
    display: flex;
    flex-wrap: wrap; /* 讓圖片自動換行 */
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}


.game-images img {
    flex-basis: calc(20% - 10px); /* 每行最多顯示5個，並留出間隙 */
    max-width: 80px;
    height: auto;   
    cursor: pointer;
    transition: transform 0.2s;
}

.game-images img:hover {
    transform: scale(1.1); /* 放大效果 */
}

.icon {
    width: 80px; /* 調整圖標寬度 */
    height: auto;
    vertical-align: middle; /* 垂直對齊文字中間 */
    margin-right: 10px; /* 調整圖標與文字間距 */
    transform: rotate(30deg); /* 向左傾斜 30 度 */
}
.version_icon {
    width: 20px; /* 調整圖標寬度，可根據需求更改 */
    height: auto; /* 保持圖標的寬高比例 */
    vertical-align: super; /* 文字上標 */
    margin-right: 4px; /* 調整圖標與文字間距 */ 
}

h4 {
    font-size: 1.2em; /* 調整標題文字大小 */
    font-weight: normal; /* 設置字重 */
    margin: 0; /* 去除外邊距 */
}